{% extends 'layout_page.html.twig' %}

{% block title 'Add User' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_admin_user_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('admin/user/_form.html.twig') }}
{% endblock %}
