<form method="post" action="{{ path('app_master_product_read', {'id': product.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('read' ~ product.id) }}">
    <button class="btn btn-info btn-sm"
            data-controller="dom-element"
            data-action="dom-element#confirm"
            data-dom-element-confirm-message-param="Are you sure you want to read this transaction?">
        <i class="bi-search"></i>
    </button>
</form>
