{% extends 'layout_page.html.twig' %}

{% block title 'Add Product' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_product_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('master/product/_form.html.twig') }}
{% endblock %}
