{% extends 'layout_page.html.twig' %}

{% block title 'Edit Penerimaan Produksi' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_inventory_product_receive_header_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_stock_inventory_product_receive_header_show', {'id': inventoryProductReceiveHeader.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('stock/inventory_product_receive_header/_form.html.twig') }}
{% endblock %}
