<form method="post" action="{{ path('app_sale_sale_invoice_header_complete', {'id': saleInvoiceHeader.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('complete' ~ saleInvoiceHeader.id) }}">
    <input type="hidden" name="{{ idempotent_token_name() }}" value="{{ idempotent_token_value() }}" />
    <button class="btn btn-success btn-sm"
            data-controller="dom-element"
            data-action="dom-element#confirm"
            data-dom-element-confirm-message-param="Are you sure you want to complete this transaction?">
        Lunas
    </button>
</form>
