{% extends 'layout_page.html.twig' %}

{% block title 'Incoming sale Invoice' %}

{% block content %}
    <div data-controller="html-loader"
         data-html-loader-url-value="{{ path('app_sale_sale_invoice_header__head') }}"
         data-html-loader-auto-load-value="true">
    </div>
{% endblock %}
