{% extends 'layout_page.html.twig' %}

{% block title 'New Sale Invoice' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_sale_sale_invoice_header_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('sale/sale_invoice_header/_form.html.twig') }}
{% endblock %}
