<form method="post" action="{{ path('app_purchase_purchase_order_header_complete', {'id': purchaseOrderHeader.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('complete' ~ purchaseOrderHeader.id) }}">
    <button class="btn btn-outline-danger btn-sm"
            data-controller="dom-element"
            data-action="dom-element#confirm"
            data-dom-element-confirm-message-param="Are you sure you want to close this transaction?">
        Close PO
    </button>
</form>
