{% extends 'layout_page.html.twig' %}

{% block title 'Outstanding Purchase Order' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_purchase_receive_header_index') }}">Manage</a>
{% endblock %}

{% block content %}
    <div data-controller="html-loader"
         data-html-loader-url-value="{{ path('app_purchase_receive_header__list_outstanding_purchase_order') }}"
         data-html-loader-auto-load-value="true">
    </div>
{% endblock %}
