{% extends 'layout_page.html.twig' %}

{% block title 'Edit Payment Type' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_payment_type_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_master_payment_type_show', {'id': paymentType.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('master/payment_type/_form.html.twig') }}
{% endblock %}
