{% extends 'layout_page.html.twig' %}

{% block title 'Edit Sale Payment' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_sale_sale_payment_header_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_sale_sale_payment_header_show', {'id': salePaymentHeader.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('sale/sale_payment_header/_form.html.twig') }}
{% endblock %}
