{% extends 'layout_page.html.twig' %}

{% block title 'Edit Tanggal Kirim PO Customer' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_stock_sale_order_detail_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_stock_stock_sale_order_detail_show', {'id': saleOrderDetail.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('stock/stock_sale_order_detail/_form.html.twig') }}
{% endblock %}
