{% extends 'layout_page.html.twig' %}

{% block title 'Edit Purchase Invoice' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_purchase_purchase_invoice_header_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_purchase_purchase_invoice_header_show', {'id': purchaseInvoiceHeader.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('purchase/purchase_invoice_header/_form.html.twig') }}
{% endblock %}
