{% extends 'layout_page.html.twig' %}

{% block content %}
    <div data-controller="html-loader"
         data-html-loader-url-value="{{ path('app__dashboard') }}"
         data-html-loader-auto-load-value="true">
    </div>
{% endblock %}
