<form method="post" action="{{ path('app_purchase_purchase_request_header_reject', {'id': purchaseRequestHeader.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('reject' ~ purchaseRequestHeader.id) }}">
    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#reject-dialog">
        Reject
    </button>

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('reject-dialog', 'Reject Note', 'lg') }}
        <div class="text-center">
            <textarea name="reject_note" class="w-100" style="height: 200px"></textarea>
            <br />
            <button class="btn btn-danger btn-sm"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to reject this transaction?">
                Reject
            </button>
        </div>
    {{ dialog.end() }}
</form>
