<form method="post" action="{{ path('app_purchase_purchase_order_paper_header_approve', {'id': purchaseOrderPaperHeader.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('approve' ~ purchaseOrderPaperHeader.id) }}">
    <button class="btn btn-primary btn-sm"
            data-controller="dom-element"
            data-action="dom-element#confirm"
            data-dom-element-confirm-message-param="Are you sure you want to approve this transaction?">
        Approve
    </button>
</form>
