{% extends 'layout_page.html.twig' %}

{% block title 'New Purchase Order Kertas' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_purchase_purchase_order_paper_header_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('purchase/purchase_order_paper_header/_form.html.twig') }}
{% endblock %}
