{% extends 'layout_page.html.twig' %}

{% block title 'Edit Pengembangan Produk' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_production_product_development_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_production_product_development_show', {'id': productDevelopment.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('production/product_development/_form.html.twig') }}
{% endblock %}
