{% extends 'layout_page.html.twig' %}

{% block title 'Edit Transportation' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_transportation_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_master_transportation_show', {'id': transportation.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('master/transportation/_form.html.twig') }}
{% endblock %}
