{% extends 'layout_page.html.twig' %}

{% block title 'Add Material' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_material_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('master/material/_form.html.twig') }}
{% endblock %}
