{% extends 'layout_page.html.twig' %}

{% block title 'Add Currency' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_currency_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('master/currency/_form.html.twig') }}
{% endblock %}
