<form method="post" action="{{ path('app_sale_sale_order_header_read', {'id': saleOrderHeader.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('read' ~ saleOrderHeader.id) }}">
    <button class="btn btn-info btn-sm"
            data-controller="dom-element"
            data-action="dom-element#confirm"
            data-dom-element-confirm-message-param="Are you sure you want to read this transaction?">
        <i class="bi-search"></i>
    </button>
</form>
