{% extends 'layout_page.html.twig' %}

{% block title 'Edit QC Sorting' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_production_quality_control_sorting_header_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_production_quality_control_sorting_header_show', {'id': qualityControlSortingHeader.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('production/quality_control_sorting_header/_form.html.twig') }}
{% endblock %}
