<form method="post" action="{{ path('app_hasilpond_delete', {'id': hasilpond.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hasilpond.id) }}">
    <button class="btn">Delete</button>
</form>
