{% extends 'base.html.twig' %}

{% block title %}Edit Hasilpond{% endblock %}

{% block body %}
    <h1>Edit Hasilpond</h1>

    {{ include('hasilpond/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hasilpond_index') }}">back to list</a>

    {{ include('hasilpond/_delete_form.html.twig') }}
{% endblock %}
