{% extends 'layout_page.html.twig' %}

{% block title 'Edit Work Order Offset Printing Header' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_production_work_order_offset_printing_header_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_production_work_order_offset_printing_header_show', {'id': workOrderOffsetPrintingHeader.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('production/work_order_offset_printing_header/_form.html.twig') }}
{% endblock %}
