{% extends 'layout_page.html.twig' %}

{% block title 'Add Deposit Header' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_accounting_deposit_header_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('accounting/deposit_header/_form.html.twig') }}
{% endblock %}
