{% extends 'layout_page.html.twig' %}

{% block title 'Add Unit' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_unit_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('master/unit/_form.html.twig') }}
{% endblock %}
