{% extends 'base.html.twig' %}

{% block title %}New HasilCetak{% endblock %}

{% block body %}
    <h1>Create new HasilCetak</h1>

    {{ include('hasil_cetak/_form.html.twig') }}

    <a href="{{ path('app_hasil_cetak_index') }}">back to list</a>
{% endblock %}
