{% extends 'layout_page.html.twig' %}

{% block title 'Add Dieline Millar' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_dieline_millar_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('master/dieline_millar/_form.html.twig') }}
{% endblock %}
