{% extends 'layout_page.html.twig' %}

{% block title 'Edit Literal Config' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_admin_literal_config_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_admin_literal_config_show', {'id': literalConfig.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('admin/literal_config/_form.html.twig') }}
{% endblock %}
