{% extends 'layout_page.html.twig' %}

{% block title 'Add Penyesuaian Stok Material' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_adjustment_stock_header_index') }}">Manage</a>
{% endblock %}

{% block content %}
    {{ include('stock/adjustment_stock_header/_form.html.twig') }}
{% endblock %}
