{% extends 'layout_page.html.twig' %}

{% block title 'Edit Product Category' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_product_category_index') }}">Manage</a>
    <a class="btn btn-info btn-sm" href="{{ path('app_master_product_category_show', {'id': productCategory.id}) }}">Show</a>
{% endblock %}

{% block content %}
    {{ include('master/product_category/_form.html.twig') }}
{% endblock %}
