{% extends 'layout_page.html.twig' %}

{% block title 'Incoming Formulir Produk Baru' %}

{% block content %}
    <div data-controller="html-loader"
         data-html-loader-url-value="{{ path('app_production_product_prototype__head') }}"
         data-html-loader-auto-load-value="true">
    </div>
{% endblock %}
